<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content=""width=device-width, initial-scale="1.0">

        <title>
            Register Page
        </title>

<link rel="stylesheet" href="style.css">

</head>

<body>


    <div class="container">
        <form>
            <h1> Create an account</h1>
            <h6> Already have an account? <a href="login.html"> Log in</a></h6>
            <input type="text" placeholder="First Name" required>
            <input type="text" placeholder="Last Name" required>
            <br><br>
            <input type="email" placeholder="Email" required style="width: 340px">
            <br><br>
            <input type="password" placeholder="Enter your password" required style="width: 340px">
            <br><br>

                <label>
                    <input type="checkbox" name="terms" required >
                    Agree to the <a href="terms.html">Terms and Conditions</a>
                    <br>
                    <br>

                        <button type="submit"> Create Account</button>
                </label>
        </form>

        <div class="image-side">
        <img src="galaxy.jpg" alt="Register">
        </div>

    </div>

    
</body>
</html>