<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="static/login.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Account | TEST</title>
  <link rel="stylesheet" href="static/login.css">
</head>
<body>
  <div class="container">
    <!-- Left Section -->
    <div class="left">
      <div class="overlay">
        <div class="logo">TEST</div>
        <button class="back-btn">Back to website →</button>
        <div class="caption">
          <p>Welcome Back, <br>Capture More Moments</p>
        </div>
      </div>
    </div>


    <!-- Right Section -->
    <div class="right">
      <div class="form-container">
        <h1>Log in to your account</h1>
        <p class="login-text">Don't have an account? <a href="#">Sign up</a></p>

        <form>
          <input type="text" placeholder="Username" required>
          <div class="password-fields">
            <input type="password" placeholder="Enter your password" required>
          </div>

          <div class="options">
            <label><input type="checkbox"> Remember me</label>
            <a href="#" class="forgot-password">Forgot password?</a>
          </div>

          <div>
            <button type="submit" class="create-btn">Log in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
